.container {
  width: 100%;
  padding: 40px 16px;
}

.icon {
  margin-bottom: 3rem;
}

.name {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.alias {
  font-size: var(--size-base);
  padding-left: 0.5rem;
}

.section {
  margin-bottom: 4rem;
}

.section:first-of-type {
  margin-top: 4rem;
}

.section:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 56px 0;
    margin: 0 auto;
  }
}
